# Production optimization
production=true
optional=false
dev=false
package-lock=false

# Performance
prefer-offline=true
fetch-retries=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000

# Cache
cache-min=3600
